body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #fff;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.button-group {
  margin: 20px 0;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  margin: 10px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

#addMemoryBtn {
  background: #00c9ff;
  color: #000;
}

#viewMemoriesBtn {
  background: #ff6a00;
  color: #fff;
}

#saveMemory {
  background: #00ff95;
  color: #000;
  margin-top: 20px;
}

input, textarea, select {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  border: none;
  display: block;
}

#memoryForm, #memoriesList {
   max-width: 60%;
  margin: auto;
  display: none;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
}

.memoryItem {
  background: rgba(255,255,255,0.15);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}
